body { 
	background-image: url("../img/tree.svg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: .93; 
	background-position:center top;
}

::-webkit-scrollbar { 
    display: none; 
}

canvas {
	color: #808080;
}

.wrap {
	position: absolute;
	top: 0px; width: 100%;
}

div#stats {
	display: none;
}

.footer {
	position: absolute;
	bottom: 0px; width: 100%;
	opacity: 1 !important; 
}

.vertical-center {
  display: flex;
  align-items: center;
}

.pad {
	margin-top:60px;
}

.thumb {
	height: 120px; 
	width: 120px;
}

.hidden {
	display:none;
	margin-top:10px;
}

.post-container {
    overflow: auto;
}

.pad a.toggle {
	position: absolute;
    top: 75px;
    right: 15px;
}
.post-thumb {
    float: left;
}
.post-thumb img {
	vertical-align:middle;
    display: block;
    margin-top:12px;
    margin-left:6px;
    opacity: 0.6;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.post-thumb img:hover {
	vertical-align:middle;
    display: block;
    opacity: 1.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.post-content {
    margin-left: 180px;
    margin-top:-5px;
}

.social {
	position: absolute; 
	bottom: 0;
	right: 0;
}

.social a {
	font-size:110%;
	font-weight:lighter;
}

.satisfy {
	margin-top: 0.5cm;
	font-family: 'Rock Salt', cursive;
	font-size:20px;
}

.social .btn {
	margin-left:-6px !important;
}

a:hover {
	text-decoration: none;
}

.pullUp {
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	

	animation-duration: 1.7s;	
	-webkit-animation-duration: 1.7s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 		
}

@keyframes pullUp {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}