@media only screen and (max-device-width: 650px) {

	.pad {
		margin-top:40px;
	}
	
	.pad h2 {
		font-size: 20px !important;
	}
	
	.thumb {
		height: 50px !important; 
		width: 50px !important;
	}
	
	html {
		font-size: 11px !important;
	}
	
	.post-content {
    	margin-left: 90px !important;
    }
    
    .satisfy {
		font-size:12px !important;
	}
	
	.social a {
		font-size:63% !important;
		font-weight:lighter;
	}
	
	.social .btn {
		margin-right:-13px !important;
		margin-left:-13px !important;
	}
	
	.social {
		left: 0 !important;
		text-align:center !important;
	}
}