@font-face {
    font-family: 'Computer Modern Typewriter Light';
    src: url('../fonts/Typewriter Light/cmunbto.eot');
    src: url('../fonts/Typewriter Light/cmunbto.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Typewriter Light/cmunbto.woff') format('woff'),
    url('../fonts/Typewriter Light/cmunbto.ttf') format('truetype'),
    url('../fonts/Typewriter Light/cmunbto.svg#cmunbto') format('svg');
    font-weight: normal;
    font-style: italic;
}
